<mat-card>
  <mat-card-header>
    <mat-card-title>Formulário - Ng For Full</mat-card-title>
    <mat-card-subtitle>Corona Vírus</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <section>

      <mat-form-field class="form-field">
        <input matInput placeholder="Nome" name="nome" [(ngModel)]="nome">
        <mat-icon matSuffix>person</mat-icon>
      </mat-form-field>

      <mat-form-field class="form-field">
        <input matInput placeholder="Telefone" name="telefone" [(ngModel)]="telefone">
        <mat-icon matSuffix> add_ic_call</mat-icon>
      </mat-form-field>

      <mat-form-field class="form-field">
        <input matInput placeholder="Endereço" name="endereco" [(ngModel)]="endereco">
        <mat-icon matSuffix>home</mat-icon>
      </mat-form-field>

      <mat-form-field class="form-field">
        <mat-select placeholder="cidade" [(ngModel)]="cidade" name="cidade">
          <mat-option *ngFor="let cidade of cidades" [value]="cidade.name">{{cidade.name}} - {{cidade.state}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="form-field">
        <input matInput placeholder="Idade" name="idade" [(ngModel)]="idade">
        <mat-icon matSuffix>plus_one</mat-icon>
      </mat-form-field>
    </section>
  </mat-card-content>

  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="save()">Salvar</button>
    <button mat-raised-button color="warn" (click)="cancel()">Cancelar</button>
  </mat-card-actions>
  <mat-card-footer>
  </mat-card-footer>
</mat-card>


<mat-card *ngIf="clientes.length > 0">
  <mat-card-content>
    <section>
      <mat-list>
        <h3 matHeader> Clientes</h3>
        <mat-divider></mat-divider>
        <mat-list-item *ngFor="let cliente of clientes; let i= index">
          <mat-icon matListIcon> person </mat-icon>
          <h2 matLine>Nome: {{cliente.nome}} </h2>
          <h2 matLine>Idade: {{cliente.idade}} </h2>
          <h2 matLine>Telefone: {{cliente.telefone}} </h2>
          <h2 matLine>Cidade: {{cliente.cidade}} </h2>
          <h2 matLine>Endereço: {{cliente.endereco}} </h2>
          <button mat-icon-button color="warn" (click)="delete(i)">
            <mat-icon> delete </mat-icon>
          </button>
        </mat-list-item>
      </mat-list>
    </section>
  </mat-card-content>
  <mat-card-actions>
  </mat-card-actions>
</mat-card>
