.radioButton {
  display: flex;
  flex-direction: column;
}

.mat-radio-button {
  margin: 2px 10px;
}

.mat-card-footer{
  padding: 0px 15px;
}

.mat-form-field{
  padding: 0px 15px;
}

.mat-card-footer{
  padding: 0px 15px;
}
