<div fxFill fxlayout="Column" fxLayoutAlign="center start">
    <button mat-button color="primary" (click)="mapClick()"> Map </button>
    <button mat-button color="primary" (click)="filterClick()"> Filter </button>
    <button mat-button color="primary" (click)="tapClick()"> Tap </button>
    <button mat-button color="primary" (click)="takeClick()"> Take, First e Last </button>
    <button mat-button color="primary" (click)="debounceTimeClick()"> Debounce Time </button>
    <button mat-button color="primary" (click)="takeWhileClick()"> Take While </button>
    <button mat-button color="primary" (click)="takeUntilClick()"> Take Until </button>
</div>

<div class="debounce-area" 
matRipple 
matRippleCentered="true"
matRippleColor="rgb(162,14,14)"
matRippleRadius="40"
> 

</div>