<div class="grid-container">
  <div class="grid-item">
    <app-ng-style></app-ng-style>
  </div>
  <div class="grid-item">
    <app-ng-class></app-ng-class>
  </div>
  <div class="grid-item">
    <app-ng-if></app-ng-if>
  </div>
  <div class="grid-item">
    <app-ng-for></app-ng-for>
  </div>
  <div class="grid-item">
    <app-ng-for-segundo></app-ng-for-segundo>
  </div>
  <div class="grid-item">
    <app-ng-switch></app-ng-switch>
  </div>
  <div class="grid-item">
    <app-ng-template></app-ng-template>
  </div>
  <div class="grid-item">
    <app-ng-container></app-ng-container>
  </div>
  <div class="grid-item">
    <app-ng-content>
      Esse é um teste do NG Content, sendo transferido para o componente criado.
    </app-ng-content>
  </div>
</div>
